$primario: #FFD5D5;
$secundario: #FC7FB2;
$fondo: #FFF1E9;
$texto: #000000;
$texto-secundario: #B2B8A3;
$fuente: 'Poppins', sans-serif;
$fuente-ligth: 300;
$fuente-regular:500;
$fuente-bold:700;
$colorBlanco: rgb(255, 241, 233);

